* { /*aquí decimos que todo lo que agreguemos este por defecto en la esquina 0*/
    margin: 0;
    padding: 0; /*Relleno*/
    box-sizing: border-box; /*box-sizing = dimensionamiento de la caja. border-box = cuadro de borde*/
}

body {
    font-family: Arial, Helvetica, sans-serif; /*Font-family = familia tipográfica /*cambiamos el tipo de letra*/
    background-color: rgb(40, 75, 72); /*background-color = color de fondo*/
}

p {
    text-align: justify;
}

ul {
    list-style: none;
}



/* Banner */
section {
    /* FLEX */ /*nuestro header nav sera ahora un contenedor flexible*/
    display: -webkit-flex; /*compatible con chrome y safari*/
    display: -moz-flex; /*compatible con mozila*/
    display: -ms-flex; /*compatible con Internet explorer edge*/
    display: -o-flex; /*compatible con opera*/
    display: flex;

    flex-direction: column;
    align-items: center;
    
}

.banner {/*Pagina de inicio*/
    position: relative; /*decimos que la posición puede cambiar*/
    justify-content: center;
    color: white;
    text-align: center;
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, saningresar
}

.banner .banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../IMG/saltando\ perros\ gatos.jpg');
    background-size: 1262px 573px; /*background-size significa tamaño del fondo*/ /* cover Quiero que la imagen ocupe todo el espacio */
    z-index: -1; /*Quiero que la imagen quede en la posición z -1 */
}

.banner .banner-img::after { /*imagen Tipo papel cebolla*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;  /*por defecto = 5*/
    content: '';    
}
/*inicio sección de imagen categorias */
#categorias img {
    height: 300px;
    width: 450px;
}  
/*Fin sección de imagen categoris/

/*inicio sección de imagen y card camas para mascotas*/
#camasmascotas img {
    height: 180px;
    width: 300px;
}

#camasmascotas .card {
   /* FLEX */ /*nuestro header nav sera ahora un contenedor flexible*/
   display: -webkit-flex; /*compatible con chrome y safari*/
   display: -moz-flex; /*compatible con mozila*/
   display: -ms-flex; /*compatible con Internet explorer edge*/
   display: -o-flex; /*compatible con opera*/
   display: flex;

   flex-direction: column;
   width: 300px;
   height: 420px; 
}
/*Fin sección de imagen y card camas para mascotas*/

@media (max-width:400) {
    #categorias img {
        background-size: 900px 900px;
    }
}


/* Inicio Seccción de correas para perro Card e Imagen*/
#correas .card { 
    /* FLEX */ /*nuestro header nav sera ahora un contenedor flexible*/
    display: -webkit-flex; /*compatible con chrome y safari*/
    display: -moz-flex; /*compatible con mozila*/
    display: -ms-flex; /*compatible con Internet explorer edge*/
    display: -o-flex; /*compatible con opera*/
    display: flex;

    flex-direction: column;
    width: 300px;
    height: 420px;
}

#correas img {
    height: 180px;
    width: 300px;
    
}
/*Fin sección correas para perro Card e imagen*/

@media (max-width:800px) { /*cuando tenga 800pixeles el padding va a cambiar*/
    .banner .banner-img {
        background-size: 730px 500px;
    }
}

@media (max-width:900px) { /*cuando tenga 800pixeles el padding va a cambiar*/   
    .banner .banner-img {
        background-size: 900px 500px;
    }
}

@media (max-width:700px) { /*cuando tenga 800pixeles el padding va a cambiar*/
    .banner .banner-img {
        background-size: 680px 500px;
    }
}

@media (max-width:600px) { /*cuando tenga 600pixeles el padding va a cambiar*/
    .banner {
        min-height: 600px;
    }

    .banner h1 {
        font-size: 40px;
    }

    .banner h2 {
        font-size: 15px;
    }
    
    .banner .banner-img { /*hacemos responsive la imagen de fondo*/
        background-size: 600px 600px;
    }
}






#formulario p a {
    color: black;
    font-size: 16px;
    text-decoration: none;

}
#formulario p a:hover {
    color: rgb(95, 145, 103);
}


/*Link de las tarjetas*/
.card-content p a {
    color: rgb(104, 92, 92);
}

.card-content p a:hover {
    color: rgb(4, 194, 137);
}
/*Fin del Link de las tarjetas*/

/*Boton has olvidado tu contraseña? */
#modal1 #olvidecontraseña a {
    color: black;
    font-size: 16px;
}

#modal1 #olvidecontraseña a:hover {
    color: rgb(133, 97, 40);
}
/*Fin Boton has olvidado tu contraseña? */

#formincrip .modal-footer {
    /* FLEX */ /*nuestro header nav sera ahora un contenedor flexible*/
    display: -webkit-flex; /*compatible con chrome y safari*/
    display: -moz-flex; /*compatible con mozila*/
    display: -ms-flex; /*compatible con Internet explorer edge*/
    display: -o-flex; /*compatible con opera*/
    display: flex;

    margin-left: 700px;
    margin-bottom: 10px;
}

#formincrip .modal-footer a {
    /* FLEX */ /*nuestro header nav sera ahora un contenedor flexible*/
    display: -webkit-flex; /*compatible con chrome y safari*/
    display: -moz-flex; /*compatible con mozila*/
    display: -ms-flex; /*compatible con Internet explorer edge*/
    display: -o-flex; /*compatible con opera*/
    display: flex;

    margin-bottom: 10px;
    
    
    
}

#formincrip {
    border-radius: 15px; /*borde redondeado*/
    border: 2px solid rgb(103, 253, 3);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 15px;
    
}

#formincrip p {
   margin-left: 50px;
    
}

#formincrip #error {
    font-size: 14px;
    color: red;
}

#formincrip .form-group {
    display: -webkit-flex; /*compatible con chrome y safari*/
    display: -moz-flex; /*compatible con mozila*/
    display: -ms-flex; /*compatible con Internet explorer edge*/
    display: -o-flex; /*compatible con opera*/
    display: flex;

    margin-left: 610px;
    margin-top: 30px;
    
}

#formincrip .form-group1 {
    display: -webkit-flex; /*compatible con chrome y safari*/
    display: -moz-flex; /*compatible con mozila*/
    display: -ms-flex; /*compatible con Internet explorer edge*/
    display: -o-flex; /*compatible con opera*/
    display: flex;

   margin-left: 45px;
   color: white;
}
/*Inicio parrafo 1 mas titulo*/
.parallax-container .parrafo1 {
    display: -webkit-flex; /*compatible con chrome y safari*/
    display: -moz-flex; /*compatible con mozila*/
    display: -ms-flex; /*compatible con Internet explorer edge*/
    display: -o-flex; /*compatible con opera*/
    display: flex;

    margin-bottom: ;
    margin-left: 1000px;
    padding: 10px;
    font-size: 18px;

}

.parallax-container .titulo1 {
    display: -webkit-flex; /*compatible con chrome y safari*/
    display: -moz-flex; /*compatible con mozila*/
    display: -ms-flex; /*compatible con Internet explorer edge*/
    display: -o-flex; /*compatible con opera*/
    display: flex;

    margin-left: 1070px;
}
/*Fin parrafo 1 mas titulo*/


/*Inicio parrafo 2 mas titulo*/
.parallax-container .parrafo2 {
    display: -webkit-flex; /*compatible con chrome y safari*/
    display: -moz-flex; /*compatible con mozila*/
    display: -ms-flex; /*compatible con Internet explorer edge*/
    display: -o-flex; /*compatible con opera*/
    display: flex;

    margin-right: 980px;
    margin-bottom: 100px;
    padding-left: 10px;
}

.parallax-container .titulo2 {
    display: -webkit-flex; /*compatible con chrome y safari*/
    display: -moz-flex; /*compatible con mozila*/
    display: -ms-flex; /*compatible con Internet explorer edge*/
    display: -o-flex; /*compatible con opera*/
    display: flex;

   margin-left: 60px;
}

/*Fin parrafo 2 mas titulo*/

@media (max-width:700px) {
    .parallax-container .titulo2 {
        margin-left: 1000px;
    }
}